body {
    background: $color_photo_dark;
    color: #f7f3f2;
}

a {
    color: $color_photo_red;
}

.cta-contact-header .button {
    background: $color_photo_red;
}

.home {
    .darkest-wrapper {
        background: $color_photo_dark;
    }

    .footer-contact {
        grid-column: 2/4;
        padding: 0;
    }

    .footer-home-copy {
        grid-column: 5/9;
    }
}

.single-work {
    grid-column: 2/3;
}

.work-gallery {
    grid-column: 1/13;
}

.slide-nav {
    color: #4a4a49;
}

.slide-nav__item.hit {
    color: #cbc8c7;
}

.footer .button {
    padding: 1rem 2rem;
    text-align: center;

    &__global {
        background: $color_photo_red;
    }
}

.hamburger-menu {

    &::before,
    &::after {
        background: $color_photo_red;
    }

    background: $color_photo_red;
}

.slide-nav__item:before {
    background: $color_photo_red;
}

.nav-trigger span {
    color: $color_photo_red;
}

.st1 {
    fill: #f7f3f2 !important;
}

.dark-wrapper,
.light-wrapper {
    background: $color_photo_darkest;
}

.team .lead-copy {
    grid-column: 1/13;
    grid-column-end: 9;
    padding-left: 2rem;
}

.form-field,
.checkbox label::before {
    background: $color_photo_darkest;
}

.wpcf7-submit {
    width: 100%;
}

.first .container {
    grid-template-rows: auto auto;
}

.slide.first .inner-content {
    grid-row: 2;
    grid-column: 2/10;
}

.inner-content .heading__4 {
    font-size: 2rem;
}

.quote {
    padding: 0 4rem;

    svg {
        position: absolute;

        path {
            fill: white;
        }
    }
}

#menu-mandatory-menu li a {
    color: white;
}

.page-template-legal .dark-wrapper {
    border-radius: 1rem 0;
}

.controls {
    grid-column: 3/11;
    margin-bottom: 2rem;
    color: #f7f3f2;
    text-transform: uppercase;
    font-weight: 200;
    display: flex;
    flex-direction: column;

    .filter-heading {
        font-size: 0.8em;
    }

    ul {
        margin-top: 0.5rem;

        li::before {
            content: unset;
            padding: 0;
        }
    }

    li {
        cursor: pointer;
        list-style: none;
        display: inline;
        padding: 0 2rem;
        border-right: 1px solid #f7f3f2;

        &:last-of-type {
            border: none;
        }

        &:first-of-type {
            padding-left: 0;
        }
    }

    .mixitup-control-active {
        font-weight: 600;
    }
}

.single {
    .hero {
        .heading {
            display: flex;
            align-items: center;
        }

        .content-wrapper {
            grid-column: 2/13;
        }
    }

    .news-fix {
        margin-top: -10vh;

        .content-wrapper {
            border-radius: 0 0 0 1rem;
        }
    }
}

.other-news {
    .heading {
        grid-column: 5/13;
    }

    .news-offset {
        display: grid;
        grid-column: 5/13;
        grid-gap: 3rem;
        grid-template-columns: repeat(8, 1fr);
    }
}

.toggle-list__item {
    padding-bottom: 1rem;

    .trigger {
        line-height: unset;
    }
}

.toggle-list i {
    padding-left: 2rem;
}

.team-member {
    .heading__4 {
        margin-bottom: 0.5rem;
        color: #4a4a49;
    }

    .heading__6 {
        color: #707070;
    }
}

.team {
    .lead-copy p {
        color: white;
    }

    .heading {
        text-transform: uppercase;
    }
}

.footer-upper-content {
    padding: 5rem 0;

    .heading {
        width: unset;
        text-transform: uppercase;
        font-size: 2rem;

        .no-wrap {
            display: inline-block;
            text-transform: initial;
            font-size: 3rem;
        }
    }
}